@media screen and (max-width:1024px) {
    .swiper-head{
        font-size: 45px;
        letter-spacing: 4px;
    }
}

@media screen and (max-width:780px){
    .logo img{
        width: 96px;
    }
}


@media screen and (max-width:768px) {
    .cards-inner{
        margin-top: 500px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
     }
     .card_price span::after{
        border-top: 1px dashed #666;
        display: block;
        position: relative;
        top: 19px;
        width:65%;
        content: "";
        right: 0;
     }
     .swiper-head{
        font-size: 37px;
    }
}

@media screen and (max-width:575px) {
   
    .headerunorderlist {
        display: none;
        position: absolute;
        top: 124px;
        left: 0;
        width: 100%;
        background-color: var(--theme-white);
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }

    .headerunorderlist li {
        margin-top: 20px;
        text-align: center;
    }

    .header .menu-btn:checked ~ .headerunorderlist {
        display: flex;
    }

    .header .menu-icon {
        display: inline-block;
        color: white;
    }
    .header-a{
        color: black;
    }
    .swiper-inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:557px) {
    .swiper-head{
        letter-spacing: 3px;
    }
}

@media screen and (max-width:575px) and (min-width:320px){
    .swiper-head{
        letter-spacing: 3px;
        font-size: 38px;
    }
    .head-heading {
        letter-spacing: 4px;
        font-size: 30px;
        font-weight: 500;
    }
    .swap-head {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 6px;
    }
    .card_para strong {
        font-size: 20px;
    }
    .card_price{
        font-size: 18px;
    }
    .cards-inner{
        gap: 53px;
    }
}


