*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-white: #ffffff;
    --theme-black:#000000;
    --font-family: "Montserrat", serif;
    --font-pay:"Playfair Display", serif;
}

body {
    font-size: 16px;
    font-family: var(--font-family);
    background-color: var(--theme-white);
}

.container {
    max-width: 1440px;
    margin:0 auto;
    padding: 0 20px;
    width: 100%;
}

.a{
    cursor: pointer;
    text-decoration: none;
}


/* header section  */

.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.active {
    position: fixed;
    background: #262626;
    border-bottom: 2px solid #e8e6bd;
}

.header-inner{
    text-align: center;
    /* padding-top: 50px; */
    padding:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.headerunorderlist{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 60px;
}

.headerunorderlist li{
    border-bottom: 2px solid transparent
}

.headerunorderlist li:hover{
    border-bottom:2px solid #ffffffff ;
    transition: all 1s ease-in-out;
}

.header-a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    display: none;
}

.header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* swiper section  */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;

  }

  .swiper-text{
    position: absolute;
    top: 30%;
    left: 33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.swiper-head{
    font-size: 50px;
    font-family: "Roboto", serif;
    letter-spacing: 6px;
    color: var(--theme-white);
    font-weight: 500;
}

.swiper-border{
    width: 50px;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: 33px auto 44px;
}

.swiper-span{
    font-size: 14px;
    font-family: var(--font-pay);
    color: var(--theme-white);
}

/* heading section  */

.head-inner{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.head-inner img{
    width: 65px;
}

.head-heading{
    padding-top: 40px;
    color: #666666;
    font-family: "Roboto", serif;
    letter-spacing: 6px;
    font-size: 35px;
    font-weight: 500;
}

.head-span{
    color: #666666;
    font-family: var(--font-pay);
    font-size: 14px;
}

.head-border{
    width: 50px;
    height: 2px;
    background: #666666;
    display: block;
    margin: 33px auto 44px;
}

/* swipers  */

.swiper {
    width: 100%;
    height: 100%;
  }

  .mySwipers .swiper-slide {
    text-align:start;
    font-size: 18px;
    background: #fff;
    justify-content: start;
    align-items: flex-start;
  }

  .mySwipers .swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 1;
  }

.swiper-slide:hover  img{
    opacity: 0.8;
  }

  .mySwipers{
    background-repeat: no-repeat;
    background-size: cover;
  }

  .swiper-header{
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #e8e6bd;
    font-family: "Roboto", serif;
    font-weight: 600;
  }

  .swiper-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  .center-span{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

 .center-span::before{
    content: '';
    width: 12px;
    height: 2px;
    display: inline-block;
    margin: 0 5px;
    background: #ffffff;
    vertical-align: middle;
 }

 .center-span::after{
    content: '';
    width: 12px;
    height: 2px;
    display: inline-block;
    margin: 0 5px;
    background: #ffffff;
    vertical-align: middle;
 }

 .center-img{
    background-color: #000;
    height: 100%;
    object-fit: cover;
 }

 .center-img img{
    opacity: 0.6;
    width: 100%;
    height: 100%;
 }

 .center-section{
    position: relative;
    height: 100%;

 }

 .center-text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 35px;
    transform: translate(-50%, -50%);
 }

 .center-head{
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 4px;
 }

 .center-a{
    text-decoration: none;
    color: var(--theme-white);
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    border: 2px solid #fff;
    padding: 10px ;
 }

 .center-a:hover{
    background-color: #fff;
    color: #000;
    transition: all 1s ease-in-out;
 }

 .swipers-text{
    background-color: #e8e6bd;
    text-align: center;
    padding: 20px 15px;
 }

 .swipers-span{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
 }

 .swiper-border-bottom{
    width: 20px;
    height: 3px;
    /* background: #666666;
    display: block; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 130px;
 }

 .swipers-head{
    font-size: 18px;
    font-family:"Roboto", serif ;
    font-weight: 500;
    text-transform: uppercase;
 }

 .swiper-a{
    text-decoration: none;
    color: currentColor;
 }


 .swap-on-hover {
    position: relative;	
    margin:  0 auto;
    text-align: center;
    }
  
  .swap-on-hover img {
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 800px;
    height: 500px;
  }
  
  .swap-on-hover .swap-on-hover__front-image {
    z-index: 1;
    transition: opacity .5s linear;
    cursor: pointer;
  }
  
  .swap-on-hover:hover > .swap-on-hover__front-image{
    opacity: 0;
  }

  .swap-image-inner{
    padding-top: 80px ;
    text-align: center;
    padding-bottom: 80px;
  }

  .swap-span{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    padding-bottom: 20px;
}

 .swap-span::before{
    content: '';
    width: 12px;
    height: 2px;
    display: inline-block;
    margin: 0 5px;
    background:#666666 ;
    vertical-align: middle;
 }

 .swap-span::after{
    content: '';
    width: 12px;
    height: 2px;
    display: inline-block;
    margin: 0 5px;
    background: #666666;
    vertical-align: middle;
 }

 .swap-head{
    color: #666666;
    padding-bottom: 40px;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 10px;
    font-family:"Roboto", serif  ;
 }

 .swaps-para{
   padding-bottom: 30px;
   color: #666666;
   font-family: 'Playfair Display', serif;
   font-size: 14px;
 }

 /* card section  */

 .cards-inner{
    margin-top: 500px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
 }

 .swap-span::after{
    content: '';
    width: 12px;
    height: 2px;
    display: inline-block;
    margin: 0 5px;
    background: #666666;
    vertical-align: middle;
 }

 .card_img img{
    width: 100%;
    height: 100%;
    transition: all 2s ease-in-out;
 }
 
 .card_img{
    object-fit: cover;
    overflow: hidden;
 }

 .cards{
    padding: 0 30px;
 }

 .card_text{
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
 }

 .card_para strong{
    color: #000;
    font-size: 25px;
    font-family: var(--font-pay);
 }

 .card_a{
    text-decoration: none;
    color: currentColor;
 }

 .card_para span{
    color: #666666;
    font-family: 'Playfair Display', serif ;
 }

 .card_s:hover .card_img img{
    transform: scale(1.5);
 }

 .card_price{
    text-align: right;
    margin-right: 10px;
    font-size: 24px;
    color: brown;
 }

 .card_price span::after{
    border-top: 1px dashed #666;
    display: block;
    position: relative;
    top: 19px;
    width:75%;
    content: "";
    right: 0;
 }

 /* video section  */

 .main_box {
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
  }
  .box_1,.box_2,.box_3,.box_4 {
    position: absolute;
    border: 4px solid var(--theme-white);
    border-radius: 150px;
    opacity: 0;
  }
  .box_1 {
    width: 150px;
    height: 150px;
    animation: pump linear 2s 0.5s infinite;
    transform-origin: 50% 50%;
  }
  .box_2 {
    width: 135px;
    height: 135px;
    animation: pump linear 2s 1s infinite;
    transform-origin: 50% 50%;
  }
  .box_3 {
    width: 120px;
    height: 120px;
    animation: pump linear 2s 1.5s infinite;
    transform-origin: 50% 50%;
  }
  .box_4 {
    width: 90px;
    height: 90px;
    background: var(--theme-white);
    opacity: 0.8;
  }
  
  .play-button{
    position: absolute;
    top: 30%;
    left: 34%;
    color: var(--theme-black);
  }
  
  @keyframes pump {
    0% {    
      transform:  scale(0);
      opacity: 1;
    }
    100% {
      transform:  scale(1);
      opacity: 0;
    }
  }

  .our-video{
    background-image: url(../images/video-bg.jpg);
    background-repeat: no-repeat;
    background-position: center -0.358333px;
    background-attachment: fixed;
    background-position: center 0;
    background-size: cover;
    min-height: 400px;
}
.discover-content{
    text-align: center;
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 190px 0;
}
