*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-white: #ffffff;
    --theme-black:#000000;
    --theme-red:red;
    --theme-brown:#BE9278;
    --theme-blue:rgb(31, 31, 94);
    --font-family: "Montserrat", serif;
    --font-pay:"Playfair Display", serif;
}

body {
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    background-color: var(--theme-white);
}

.container {
    max-width: 1440px;
    margin:0 auto;
    padding: 0 20px;
    width: 100%;
}

.header{
    position: fixed;
    top: 0;
    background-color: var(--theme-white);
    width: 100%;
    z-index: 999;
    padding: 20px;
}

.header-inner{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    width: 100%;
}

.logo{
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    color: var(--theme-brown);

}

.header-a{
  text-decoration: none;
  color: var(--theme-brown);
}

.header-unorderlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 30px;

}

.header-anchor{
    text-decoration: none;
    color: var(--theme-black);
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;
}

.header-anchor:hover{
    color: var(--theme-brown);
}

.headers-a{
    background-color: var(--theme-brown);
    color: var(--theme-white);
    padding: 20px 35px;
}

.headers-a:hover{
    color: var(--theme-white);
}

 .hero-images {
    position: absolute; 
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    
}

.hero-section {
    position: relative;
    z-index: 1;
}


.hero-img{
    animation-name: rotateme;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: cover;
}

.hero-section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-white);
    z-index: 0;
}

@keyframes rotateme {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hero-text {
    color: var(--theme-white);
    padding-top: 30px;
    padding-bottom: 50px;
}

.left-section{
    position: relative;
    z-index: 0;
}

.hero-text strong {
    font-size: 80px;
    font-weight: 600;
    
}

.hero-text span{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.hero-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-section{
    position: absolute;
    right: 0;
    bottom: 0;
}

.right-section img{
    display: block;
}

.harmburger{
    display: none;
}


.hero-btn{
    text-decoration: none;
    color: var(--theme-white);
    background-color: var(--theme-brown);
    padding: 25px 40px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

.hero-btn:hover{
    background-color: #ad8269;
}

.visits{
    position: relative;
    display: flex;
    align-items: center;
    margin: 100px 20px;
}

.visits::before{
    position: absolute;
    content: "";
    background: #F2E1D9;
    width: 68%;
    height: 100%;
    z-index: -9;
    right: 0;
    top: 0;
}

.visit-right-section{
    background-image: url(../images/visit_bg.png.webp);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 570px;
    width: 50%;
    margin: 130px 0;
}

.visit-left-section{
    width: 30%;
    padding: 20px 20px 20px 60px;
}

.visit-left-section h2{
    font-size: 56px;
    display: block;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 22px;
    text-transform: capitalize;
}

.top-para{
    color: #010A44;
    line-height: 1.7;
    font-size: 18px;
}

.bottom-para{
    margin-top: 41px;
    line-height: 1.7;
    font-size: 14px;
    color: #10285d;
    margin-bottom: 41px;
}

.about-btn{
    text-decoration: none;
    color: var(--theme-white);
    text-transform: capitalize;
    background-color: var(--theme-brown);
    padding: 20px 30px;
    font-size: 18px;
}

.about-btn:hover{
    background-color: #ad8269;
}

.card{
    background-color: #f7f7f7;
}

.cards{
    background-color: var(--theme-white);
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}

.cards:hover{
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.svg-icon{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

.svg-icon-1{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

.svg-icon-2{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}


.svg-icon-3{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}


.svg-icon-4{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}


.svg-icon-5{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}


.card-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 100px;
}

.cards-a{
    cursor: pointer;
    text-decoration: none;
}

.cards-heading{
    color: var(--theme-black);
}

.cards-para{
    color: var(--theme-black);
    padding-top: 10px;
}

.svg-icon svg{
    position: absolute;
    top: 0;
    left: 0
}

.svg-icon-1 svg{
    position: absolute;
    top: 0;
    left: 0
}

.svg-icon-2 svg{
    position: absolute;
    top: 0;
    left: 0
}


.svg-icon-3 svg{
    position: absolute;
    top: 0;
    left: 0
}


.svg-icon-4 svg{
    position: absolute;
    top: 0;
    left: 0
}

.svg-icon-5 svg{
    position: absolute;
    top: 0;
    left: 0
}


.svg-icon{
    color: #f5f5f5;
}

.svg-icon-1{
    color: #f5f5f5;
}

.svg-icon-2{
    color: #f5f5f5;
}

.svg-icon-3{
    color: #f5f5f5;
}


.svg-icon-4{
    color: #f5f5f5;
}

.svg-icon-5{
    color: #f5f5f5;
}
 

.cards:hover .icons .fa-chart-line {
    color: white;
}

.cards:hover .icons .fa-tower-broadcast{
    color: white;
}

.cards:hover .icons .fa-tv {
    color: white;
}

.cards:hover .icons .fa-hands-bound {
    color: white;
}

.cards:hover .icons .fa-calendar-days {
    color: white;
}

.cards:hover .icons .fa-message {
    color: white;
}

.icons{
    z-index: 1;
}

.icons .fa-chart-line{
    color: #0dcaf0;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon{
    color: #0dcaf0;
}

.icons .fa-tower-broadcast{
    color: #fd7e14;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-1{
    color: #fd7e14;
}

.icons .fa-tv{
    color: #20c997;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-2{
    color: #20c997;
}

.icons .fa-hands-bound{
    color: #df1529;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-3{
    color: #df1529;
}

.icons .fa-calendar-days{
    color: #6610f2;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-4{
    color: #6610f2;
}

.icons .fa-message{
    color: #f3268c;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-5{
    color: #f3268c;
}