*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-white: #ffffff;
    --theme-black:#000000;
    --theme-red:red;
    --theme-brown:#BE9278;
    --theme-blue:rgb(31, 31, 94);
    --font-family: "Montserrat", serif;
    --font-pay:"Playfair Display", serif;
}

body {
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    background-color: var(--theme-white);
}

.container {
    max-width: 1440px;
    margin:0 auto;
    padding: 0 20px;
    width: 100%;
}

.a{
    cursor: pointer;
    text-decoration: none;
}

.header{
    position: fixed;
    top: 0;
    background-color: var(--theme-white);
    width: 100%;
    z-index: 999;
}

.header-inner{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    width: 100%;
}

.logo{
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    color: var(--theme-brown);

}

.header-a{
  text-decoration: none;
  color: var(--theme-brown);
}

.header-unorderlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 30px;

}

.header-anchor{
    text-decoration: none;
    color: var(--theme-black);
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-anchor:hover{
    color: var(--theme-brown);
}

.headers-a{
    background-color: var(--theme-brown);
    color: var(--theme-white);
    padding: 20px 35px;
}

.headers-a:hover{
    color: var(--theme-white);
}

 .hero-images {
    position: absolute; 
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    
}

.hero-section {
    position: relative;
    z-index: 1;
}


.hero-img{
    animation-name: rotateme;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: cover;
}

.hero-section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-white);
    z-index: 0;
}

@keyframes rotateme {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hero-text {
    color: var(--theme-white);
    padding-top: 30px;
    padding-bottom: 50px;
}

.left-section{
    position: relative;
    z-index: 0;
    width: 50%;
}

.hero-text strong {
    font-size: 80px;
    font-weight: 600;
    
}

.hero-text span{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.hero-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-section{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
}

.right-img img{
    display: block;
    width: 100%;
}

.right-img{
    position: relative;
    width: 100%;
}

.harmburger{
    display: none;
}


.hero-btn{
    text-decoration: none;
    color: var(--theme-white);
    background-color: var(--theme-brown);
    padding: 25px 40px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

.hero-btn:hover{
    background-color: #ad8269;
}

.visits{
    position: relative;
    display: flex;
    align-items: center;
    margin: 100px 20px;
}

.visits::before{
    position: absolute;
    content: "";
    background: #F2E1D9;
    width: 68%;
    height: 100%;
    z-index: -9;
    right: 0;
    top: 0;
}

.visit-right-section{
    background-image: url(../images/visit_bg.png.webp);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 570px;
    width: 50%;
    margin: 130px 0;
}

.visit-left-section{
    width: 30%;
    padding: 20px 20px 20px 60px;
}

.visit-left-section h2{
    font-size: 56px;
    display: block;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 22px;
    text-transform: capitalize;
}

.top-para{
    color: #010A44;
    line-height: 1.7;
    font-size: 18px;
}

.bottom-para{
    margin-top: 41px;
    line-height: 1.7;
    font-size: 14px;
    color: #10285d;
    margin-bottom: 41px;
}

.about-btn{
    text-decoration: none;
    color: var(--theme-white);
    text-transform: capitalize;
    background-color: var(--theme-brown);
    padding: 20px 30px;
    font-size: 18px;
}

.about-btn:hover{
    background-color: #ad8269;
}

.card{
    background-color: #f7f7f7;
}

.cards{
    background-color: var(--theme-white);
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}

.cards:hover{
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.svg-icon{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

.svg-icon-1{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

.svg-icon-2{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}


.svg-icon-3{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}


.svg-icon-4{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}


.svg-icon-5{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}


.card-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 100px;
}

.cards-a{
    cursor: pointer;
    text-decoration: none;
}

.cards-heading{
    color: var(--theme-black);
}

.cards-para{
    color: var(--theme-black);
    padding-top: 10px;
}

.svg-icon svg{
    position: absolute;
    top: 0;
    left: 0
}

.svg-icon-1 svg{
    position: absolute;
    top: 0;
    left: 0
}

.svg-icon-2 svg{
    position: absolute;
    top: 0;
    left: 0
}


.svg-icon-3 svg{
    position: absolute;
    top: 0;
    left: 0
}


.svg-icon-4 svg{
    position: absolute;
    top: 0;
    left: 0
}

.svg-icon-5 svg{
    position: absolute;
    top: 0;
    left: 0
}


.svg-icon{
    color: #f5f5f5;
}

.svg-icon-1{
    color: #f5f5f5;
}

.svg-icon-2{
    color: #f5f5f5;
}

.svg-icon-3{
    color: #f5f5f5;
}


.svg-icon-4{
    color: #f5f5f5;
}

.svg-icon-5{
    color: #f5f5f5;
}
 

.cards:hover .icons .fa-chart-line {
    color: white;
}

.cards:hover .icons .fa-tower-broadcast{
    color: white;
}

.cards:hover .icons .fa-tv {
    color: white;
}

.cards:hover .icons .fa-hands-bound {
    color: white;
}

.cards:hover .icons .fa-calendar-days {
    color: white;
}

.cards:hover .icons .fa-message {
    color: white;
}

.icons{
    z-index: 1;
}

.icons .fa-chart-line{
    color: #0dcaf0;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon{
    color: #0dcaf0;
}

.icons .fa-tower-broadcast{
    color: #fd7e14;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-1{
    color: #fd7e14;
}

.icons .fa-tv{
    color: #20c997;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-2{
    color: #20c997;
}

.icons .fa-hands-bound{
    color: #df1529;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-3{
    color: #df1529;
}

.icons .fa-calendar-days{
    color: #6610f2;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-4{
    color: #6610f2;
}

.icons .fa-message{
    color: #f3268c;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-5{
    color: #f3268c;
}

.card-hover-inner{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
    margin-top: 100px;
}

.cards-hover img{
    width: 100%;
}

.cards-hover{
    position: relative;
}

.card-hover-text {
    position: absolute;
    transition: all 0.5s cubic-bezier(0.23,1,.32,1);
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    left: 0; 
    overflow: hidden;
}

.card-hover-text:hover{
    opacity: 0.7;
}


.card-hover-text strong{
    color: #fffbfb;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}

.card-hover-text span{
    color: var(--theme-red);
    font-size: 18px;
    font-weight: 100; 
}

.cards-hover-a{
    text-decoration: none;
}

.card-hover-buttons{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.view-it-btn{
    background-color: var(--theme-red);
    color: #f5f5f5;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: capitalize;
}

.view-it-btn:hover{
    background-color: #b11e2d;
}

.online-version-btn{
    border: 1px solid #f5f5f5;
    text-decoration: none;
    color: #f5f5f5;
    padding: 10px 20px;
}

.background{
     position: absolute;
     top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: black;
    transform: translateX(0%);
}

.primary-card-img img{
    width: 100%;
}

.primary-inner{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    padding-top: 60px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 400px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.primary-card-text{
    background-color: var(--theme-white);
    position: absolute;
    top: 75%;
    width: 90%;
    height: 100%;
    border: 1px solid #ffffff;
    right: 0;
}

.date{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    padding-top: 40px;
    border-bottom: 1px solid #d6d0d0;
    padding-bottom: 20px;
}

.primary-card-img{
    position: relative;
}

.secondary-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.comments{
    color: #838080;
    text-decoration: none;
    font-size: 12px;
}

.primary-fonts{
   padding:30px 100px ;
   color: #000000;
}

.primary-fonts strong{
    font-size: 45px;
    font-family: "Raleway", serif;
    font-weight: 100;
    text-transform: capitalize;
}

.primary-fonts strong:hover{
    color: #BE9278;
}

.primary-fonts span{
    font-family: "Raleway", serif;
    font-size: 20px;
    font-weight: 100;
}

.primary-head{
    font-family: "Raleway", serif;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
}

.primary-a{
  text-transform: capitalize;
  text-decoration: none;
  color: #fffbfb;
  background-color: var(--theme-brown);
  padding: 10px 20px;
}

.primary-a:hover{
    background-color: #ad8269;
}

.video-section{
    background-color: #2c2b2b;
}

.video-inner {
    padding-top: 70px;
    padding-bottom: 70px;
}

video {
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.banner{
    margin-top: 60px;
    position: relative;
}

.banner-texts{
    position: absolute;
    top: 39%;
    right: 0;
    left: 30%;
}

.banner-heading{
    font-size: 30px;
    color: #f5f5f5;
    padding-bottom: 10px;
}

.banner-para strong{
    font-size: 20px;
    color: #f5f5f5;
}

.banner-para span{
    color: #f5f5f5;
    font-size: 16px;
}

.banner-text{
    max-width: 620px;
    text-align: center;
}

.banner-image{
    width: 100%;
}

.banner-img {
    position: absolute;
    left: 20%;
    padding-top: 30px;
}

.banner-img:hover{
    animation-name: rotateme;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: cover;
}

@keyframes rotateme {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.signup{
    background-color: #fff;
}

.signup-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
    border-radius: 50px;
    margin-top: 50px;
    padding: 10px;
    position: relative;
}

.signup-form{
    width: 50%;
    height: 100%;
}

.signup-form-svg{
    width: 50%;
    height: 100%;
}

.signup-form{
    text-align: center;

}

.form-heading{
    font-size: 32px;
    font-family: "Libre Baskerville", serif;
    padding-bottom: 40px;
}

label {
    font-size: 19px;
}

.inputs{
    border: 1px solid #000000;
    border-radius: 20px;
    height: 45px;
}

input::placeholder{
    text-align: center;
    font-size: 15px;
}

.input-space{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}

.forms {
    position: absolute;
    top: 22%;
    left: 15%;
}

.signup-img img{
    width: 100%;
    border-radius: 30px;
    opacity: 0.7;
}

.img-animation-head{
    font-weight: 700;
    font-size: 45px;
    padding-top: 50px;
    text-align: center;
}

.img-animation-para{
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
    font-size: 20px;
}

.img-animation{
    color: #111111;
    background-color: #d9d9d9; 
}

.img-animation-inner{
    margin-top: 90px;
    padding-bottom: 60px;
}

.cards-mains{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding-top: 40px;
}

.cards-main{
    background-color: white;
    padding: 20px;
}

.images-text{
    text-align: center;
    padding-top: 63px;
}

.cards-head{
    font-size: 20px;
    font-weight: 500;
}

.img-main img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.img-main{
    text-align: center;
}

.img-main img:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cards-paras{
    padding-top: 20px;
    padding-bottom: 20px;
}

.learn-more{
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    padding: 10px 20px;
    border-bottom: 3px solid #b11e2d;
}

.learn-more:hover{
    border-bottom: 3px solid #000000;
}

.cards-anchor{
    text-align: center;
}