*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-white: #ffffff;
    --theme-black:#000000;
    --theme-red:red;
    --theme-brown:#BE9278;
    --theme-blue:rgb(31, 31, 94);
    --font-family: "Montserrat", serif;
    --font-pay:"Playfair Display", serif;
}

body {
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    background-color: var(--theme-white);
}

.container {
    max-width: 1440px;
    margin:0 auto;
    padding: 0 20px;
    width: 100%;
}

.a{
    cursor: pointer;
    text-decoration: none;
}

.header{
    position: fixed;
    top: 0;
    background-color: var(--theme-white);
    width: 100%;
    z-index: 999;
}

.header-inner{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    width: 100%;
}

.logo{
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    font-family: "Mukta", serif;
    transition: all 0.4s ease-in-out;
}

.logo:hover{
    animation-name: rotates;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: cover;
    transition: all 0.4s ease-in-out;
}

@keyframes rotates {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

.header-a{
  text-decoration: none;
  color: var(--theme-brown);
  border-bottom: 3px solid var(--theme-brown);
}

.header-a:hover{
    color:#838080 ;
    border-bottom: 3px solid #838080;
}

.header-unorderlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 30px;

}

.header-anchor{
    text-decoration: none;
    color: var(--theme-black);
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Exo 2", serif;
    border-bottom:3px solid white;
    transition: all 0.4s ease-in-out;
}

.header-anchor:hover{
    color: var(--theme-brown);
    border-bottom: 3px solid #BE9278;
}

.headers-a{
    text-decoration: none;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Exo 2", serif;
    position: relative;
    padding: 15px 30px;
    color: var(--theme-white);
    background-color: var(--theme-brown);
    border: 4px solid rgb(214, 211, 207);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.headers-a:hover{
    background-color: white;
    color: #ad8269;
    border: 4px solid #838080;
}
  
 .hero-images {
    position: absolute; 
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    
}

.hero-section {
    position: relative;
    z-index: 1;
}


.hero-img{
    animation-name: rotateme;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: cover;
    background-color: black;
    border-radius: 50px;
}

.hero-section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-white);
    z-index: 0;
}

@keyframes rotateme {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hero-text {
    color: var(--theme-white);
    padding-top: 30px;
    padding-bottom: 50px;
}

.left-section{
    position: relative;
    z-index: 0;
    animation-name: slideright;
    animation-duration: 2s;
}

@keyframes slideright {
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
}

.hero-text strong {
    font-size: 80px;
    font-weight: 600;
    font-family: "MuseoModerno", serif;
    
}

.hero-text span{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-section{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
}

.right-img img{
    display: block;
    width: 100%;
}

.right-img{
    position: relative;
    width: 100%;
}

.harmburger{
    display: none;
}


.hero-btn{
    text-decoration: none;
    color: var(--theme-white);
    background-color: var(--theme-brown);
    border: 4px solid rgb(214, 211, 207);
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Helvetica, Arial, Sans-serif;
    transition: all 0.4s ease-in-out;
    display: inline-block;
  }

  .hero-btn:hover{
    background-color: white;
    color: #ad8269;
    border: 4px solid #838080;
  }

.visits{
    position: relative;
    display: flex;
    align-items: center;
    margin: 100px 20px;
}

.visits::before {
    position: absolute;
    content: "";
    background: #F2E1D9;
    width: 68%;
    height: 800px;
    z-index: -9;
    right: 0;
    top: 2%;
}

@keyframes slideleft {
    0%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0%);
    }
}


.visit-right-section{
    background-image: url(../images/visit_bg.png.webp);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 570px;
    width: 50%;
    margin: 130px 0;
    animation-name: slideright;
    animation-duration: 2s;
}

@keyframes slideright {
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
}

.visit-left-section{
    width: 30%;
    padding: 20px 20px 20px 60px;
    animation-name: slideleft;
    animation-duration: 2s;
        position: absolute;
        top: 21%;
        left: 50%;
    }

@keyframes slideleft {
    0%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0%);
    }
}

.visit-left-section h2{
    font-size: 56px;
    display: block;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 22px;
    text-transform: capitalize; 
}

.top-para{
    color: #010A44;
    line-height: 1.7;
    font-size: 18px;
}

.bottom-para{
    margin-top: 41px;
    line-height: 1.7;
    font-size: 14px;
    color: #10285d;
    margin-bottom: 41px;
}

.about-btn{
    text-decoration: none;
    color: var(--theme-white);
    background-color: var(--theme-brown);
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Helvetica, Arial, Sans-serif;
    border: 4px solid rgb(214, 211, 207);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    display: inline-block;
  }

  .about-btn:hover{
    background-color: white;
    color: #ad8269;
    border: 4px solid #838080;
  }

.card{
    background-color: #f7f7f7;
}


.cards{
    background-color: var(--theme-white);
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}

.cards:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.svg-icon{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

.svg-icon-1{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

.svg-icon-2{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}


.svg-icon-3{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}


.svg-icon-4{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}


.svg-icon-5{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}


.card-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.cards-a{
    cursor: pointer;
    text-decoration: none;
}

.cards-heading{
    color: var(--theme-black);
}

.cards-para{
    color: var(--theme-black);
    padding-top: 10px;
}

.svg-icon svg{
    position: absolute;
    top: 0;
    left: 0
}

.svg-icon-1 svg{
    position: absolute;
    top: 0;
    left: 0
}

.svg-icon-2 svg{
    position: absolute;
    top: 0;
    left: 0
}


.svg-icon-3 svg{
    position: absolute;
    top: 0;
    left: 0
}


.svg-icon-4 svg{
    position: absolute;
    top: 0;
    left: 0
}

.svg-icon-5 svg{
    position: absolute;
    top: 0;
    left: 0
}


.svg-icon{
    color: #f5f5f5;
}

.svg-icon-1{
    color: #f5f5f5;
}

.svg-icon-2{
    color: #f5f5f5;
}

.svg-icon-3{
    color: #f5f5f5;
}


.svg-icon-4{
    color: #f5f5f5;
}

.svg-icon-5{
    color: #f5f5f5;
}
 

.cards:hover .icons .fa-chart-line {
    color: white;
    transition: all 0.4s ease-in-out;
}

.cards:hover .icons .fa-tower-broadcast{
    color: white;
    transition: all 0.4s ease-in-out;
}

.cards:hover .icons .fa-tv {
    color: white;
    transition: all 0.4s ease-in-out;
}

.cards:hover .icons .fa-hands-bound {
    color: white;
    transition: all 0.4s ease-in-out;
}

.cards:hover .icons .fa-calendar-days {
    color: white;
    transition: all 0.4s ease-in-out;
}

.cards:hover .icons .fa-message {
    color: white;
    transition: all 0.4s ease-in-out;
}

.icons{
    z-index: 1;
}

.icons .fa-chart-line{
    color: #0dcaf0;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon{
    color: #0dcaf0;
}

.icons .fa-tower-broadcast{
    color: #fd7e14;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-1{
    color: #fd7e14;
}

.icons .fa-tv{
    color: #20c997;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-2{
    color: #20c997;
}

.icons .fa-hands-bound{
    color: #df1529;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-3{
    color: #df1529;
}

.icons .fa-calendar-days{
    color: #6610f2;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-4{
    color: #6610f2;
}

.icons .fa-message{
    color: #f3268c;
    font-size: 26px;
    transition: ease-in-out 0.3s;
}

.cards:hover .svg-icon-5{
    color: #f3268c;
}

.card-hover-inner{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
    margin-top: 100px;
}

.cards-hover img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.cards-hover{
    position: relative;
}

.card-hover-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    overflow: hidden;
}

.card-hover-text strong{
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}

.card-hover-text span{
    color:var(--theme-brown);
    font-size: 18px;
    font-weight: 400; 
}

.cards-hover-a{
    text-decoration: none;
}

.card-hover-buttons{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.view-it-btn{
    text-decoration: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Helvetica, Arial, Sans-serif;
    color: var(--theme-white);
    background-color: var(--theme-brown);
    border: 4px solid rgb(214, 211, 207);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.view-it-btn:hover{
    background-color: white;
    color: #ad8269;
    border: 4px solid #838080;
}

.online-version-btn{
    border: 1px solid #f5f5f5;
    text-decoration: none;
    color: #f5f5f5;
    padding: 15px 30px;
    text-transform: capitalize;
    border: 4px solid rgb(214, 211, 207);
    border-radius: 10px;
}

.online-version-btn:hover{
    border: 4px solid #947e7e;
    transition: all 0.4s ease-in-out;
    color: bisque   ;

}

.background{
     position: absolute;
     top: 0;
    right: 0;
    width: 100%;
     height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #000000a1;
    opacity: 0;
}

.background:hover{
    opacity: 1;
    transition: all 0.4s ease-in-out;
}


.primary-card-img img{
    width: 100%;
    height: 100%;
    transition: all 3s ease-in;
}

.primary-card-img img:hover{
    transform: scale(1.5);
}

.primary-card-img{
    overflow: hidden;
}

.primary-inner{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    padding-top: 60px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 400px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
}

.primary-card-text{
    background-color: var(--theme-white);
    position: absolute;
    top: 75%;
    width: 90%;
    height: 100%;
    border: 1px solid #ffffff;
    right: 0;
}

.date{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    padding-top: 40px;
    border-bottom: 1px solid #d6d0d0;
    padding-bottom: 20px;
}

.primary-card-img{
    position: relative;
    overflow: hidden;
}

.secondary-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.comments{
    color: #838080;
    text-decoration: none;
    font-size: 12px;
}

.primary-fonts{
   padding:30px 100px ;
   color: #000000;
}

.primary-fonts strong{
    font-size: 45px;
    font-family: "Raleway", serif;
    font-weight: 100;
    text-transform: capitalize;
}

.primary-fonts strong:hover{
    color: #BE9278;
}

.primary-fonts span{
    font-family: "Raleway", serif;
    font-size: 20px;
    font-weight: 100;
}

.primary-head{
    font-family: "Raleway", serif;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
    overflow: hidden;
}

.primary-a{
  text-transform: capitalize;
  text-decoration: none;
  color: var(--theme-white);
    background-color: var(--theme-brown);
    border: 4px solid rgb(214, 211, 207);
    border-radius: 10px;
  padding: 15px 30px;
  letter-spacing: 2px;
  font-family: Helvetica, Arial, Sans-serif;
  transition: all 0.4s ease-in-out;
  display: inline-block;
}

.primary-a:hover{
    background-color: white;
    color: #ad8269;
    border: 4px solid #838080;
}

  .main_box {
    position: absolute;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
  }
  .box_1,.box_2,.box_3,.box_4 {
    position: absolute;
    border: 4px solid rgb(144, 45, 6);
    border-radius: 150px;
    opacity: 0;
  }
  .box_1 {
    width: 150px;
    height: 150px;
    animation: pump linear 2s 0.5s infinite;
    transform-origin: 50% 50%;
  }
  .box_2 {
    width: 135px;
    height: 135px;
    animation: pump linear 2s 1s infinite;
    transform-origin: 50% 50%;
  }
  .box_3 {
    width: 120px;
    height: 120px;
    animation: pump linear 2s 1.5s infinite;
    transform-origin: 50% 50%;
  }
  .box_4 {
    width: 90px;
    height: 90px;
    background: rgb(144, 45, 6);
    opacity: 0.8;
  }
  
  .play-button{
    position: absolute;
    top: 30%;
    left: 34%;
    color: white;
  }
  
  @keyframes pump {
    0% {    
      transform:  scale(0);
      opacity: 1;
    }
    100% {
      transform:  scale(1);
      opacity: 0;
    }
  }
  

  .our-video{
    background-image: url(../images/360_F_544999574_Qo8QVsyGq80hD6tRcx8rfwvzAkp9EtrE.jpg);
    background-repeat: no-repeat;
    background-position: center -0.358333px;
    background-attachment: fixed;
    background-position: center 0;
    background-size: cover;
    min-height: 400px;
}
.discover-content{
    text-align: center;
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 190px 0;
}

.img-animation-head{
    font-weight: 700;
    font-size: 45px;
    padding-top: 50px;
    text-align: center;
}

.img-animation-para{
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
    font-size: 20px;
}

.img-animation{
    color: #111111;
    background-color: #d9d9d9; 
}

.img-animation-inner{
    margin-top: 90px;
    padding-bottom: 60px;
}

.cards-mains{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding-top: 40px;
}

.cards-main{
    background-color: white;
    padding: 20px;
        object-fit: cover;
        transition: all 0.4s ease-in-out;
}

.cards-main:hover .img-main img{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.images-text{
    text-align: center;
    padding-top: 63px;
}

.cards-head{
    font-size: 20px;
    font-weight: 500;
}

.img-main img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.img-main{
    text-align: center;
}

.cards-main:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cards-paras{
    padding-top: 20px;
    padding-bottom: 20px;
}

.learn-more{
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    padding: 10px 20px;
    border-bottom: 3px solid #b11e2d;
}

.learn-more:hover{
    border-bottom: 3px solid #000000;
}

.cards-anchor{
    text-align: center;
}

.form-inner{
    border: 2px solid #000;
    border-radius: 50px;
    padding: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-head{
    text-transform: capitalize;
    font-family: "Libre Baskerville", serif;
    padding: 10px 0;
    color: #000;
}

.custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 12px;
    width: 100%;
  }
  
  .custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
  }
  
  .custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
  }
  
  .custom-field input.dirty + .placeholder,
  .custom-field input:focus + .placeholder,
  .custom-field input:not(:placeholder-shown) + .placeholder {
    top: -10px;
    font-size: 10px;
    color: #222;
  }
  
  .custom-field .error-message {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 12px;
    background: #d30909;
    color: #fff;
    height: 24px;
  }
  
  .custom-field .error-message:empty {
    opacity: 0;
  }

  .custom-field.one input {
    background: none;
    border: 2px solid var(--theme-black);
    border-radius: 10px;
    transition: border-color 0.3s ease;
    width: 100%;
  }
  
  .custom-field.one input + .placeholder {
    left: 8px;
    padding: 0 5px;
  }
  
  .custom-field.one input.dirty,
  .custom-field.one input:not(:placeholder-shown),
  .custom-field.one input:focus {
    border-color: rgb(145, 68, 8);
    transition-delay: 0.1s
  }
  
  .custom-field.one input.dirty + .placeholder,
  .custom-field.one input:not(:placeholder-shown) + .placeholder,
  .custom-field.one input:focus + .placeholder {
    top: 0;
    font-size: 16px;
    color: #222;
    background: #fff;
    width: auto
  }
  
  .input-checkboxs{
    width: 18px;
}

.input-gender{
    display: flex;
    gap: 20px;
    padding-top: 15px;
}

.input-checkbox{
    display: flex;
    gap: 20px;
    padding-top: 15px;
}

.input-divs{
    display: flex;
    gap: 10px;
}

.submit-buttons{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;

}

.submit-button{
    text-decoration: none;
    color: #fff;
    background-color: #9a755f;
    border: 3px solid #838080;
    border-radius: 6px;
    padding: 15px 30px;
    transition: all 0.4s ease-in-out;
}

.submit-button:hover{
    background-color: #ad8269;
    color: white;
    border: 3px solid #e8dfdf;
}   

.reset-button{
    text-decoration: none;
    color: #000;
    border: 4px solid #cdc8c8;
    border-radius: 6px;
    padding: 15px 30px;
    transition: all 0.4s ease-in-out;
}

.reset-button:hover{
   background-color: white;
   color: #ad8269;
}


.forms{
    margin-top: 80px;
    padding: 57px 0;
    /* background-color:#BE9278; */
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    /* background-image: url(../images/download\ \(4\).jfif); */
}

.section{
    background-color: #cac6c633;
}

.section-cards{
    display: flex;
    background-color: #fff;
    margin-top: 46px;
    padding: 30px;
    gap: 10px;
    box-shadow: 0px 15px 114px -26px rgba(85, 98, 164, 0.29);
}

.section-cards:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     transition: all 0.4s ease-in-out;
}

.sections-left{
    display: flex;
    width: 100%;
    gap: 30px;
}

.section_right img{
    width: 100%;
    height: 800px;
}

.section_left{
   width: 50%;
   height: 100%;
}

.section_right{
    width: 50%;   
}

.section-inner{
   margin-top: 70px;
   padding: 40px;
}

.education{
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    background-color: #fcc747;
    padding: 10px 15px;
    display: inline-block;
}

.section-head{
    padding-top: 25px;
    font-size: 35px;
}
.years-a{
    background: #ec116c;
    color: white;
    padding: 4px;
    text-decoration: none;
}

.left-side-head{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left-side{
    width: 37%;
}

.right-side{
    width: 73%;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    line-height: 1.7;
}

.right-side-para{
    color: #bab6b6;
}

span.left-side-span {
    text-transform: uppercase;
    font-weight: 100;
}

.img-animation{
    margin-top: 80px;
}

.img-animations{
    position: relative;
}

