@media screen and (max-width:940px) {
    .header-unorderlist{
        gap: 16px;
    }
    .header-anchor {
        font-size: 15px;
        padding: 12px 11px;
    }
}

@media screen and (max-width:860px) {
    .header-unorderlist{
        gap: 16px;
    }
    .header-anchor {
        font-size: 15px;
        padding: 12px 11px;
    }
    .header-list {
        text-decoration: none;
        font-size: 13px;
    }
}

@media screen and (max-width:768px) {
    .header-unorderlist{
       display: none;
    }
    .right-section{
        padding: 30px 10px;
    }
    .hero-inner {
        padding-top: 100px;
        gap: 20px;
        padding-bottom: 100px;
    }
    .left-section-para{
       line-height: 1.3em;
       font-size: 30px;
    }
    .right-section-para{
        font-size: 26px;
        text-align: center;
    }
    .inputs{
        font-size: 12px;
        width: 100%;
    }
    .inputs-1{
        font-size: 14px;
    }

    .hamburger-anchor{
       display: inline-block;
    }

    .card-main{
        padding-top: 25px;
        display:flex;
        flex-direction: column;
        gap: 30px;
    }
    .card-icon{
        justify-content: unset;
        align-items: flex-end;
    }
    .header-unorderlist {
        width: 100%;
        top: 60px; 
        left: 0;
    }

    .header-options.active .header-unorderlist {
        display: block;
        position: absolute;
        background-color: var(--theme-black);
        margin-top: 30px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 30px;
        padding-bottom: 30px;
        z-index: 1;
    }

    .header-unorderlist li{
        margin-top: 10px;
        text-align: center;
    }

    .header-list{
        color: var(--theme-white);
        font-weight: 600;
        font-size: 16px;
    }

    .service-icon{
        padding-left: 346px;
    }
}

@media screen and (max-width:575px) {
    .hero-inner{
        display: flex;
        flex-direction: column;
    }
    .left-section{
        text-align: center;
    }
    .click-btn{
        margin-left: 88px;
    }
    .labels{
        display: flex;
        flex-direction: column;
    }
    .dropdown-icon{
        color: var(--theme-white);
        position: absolute;
        left: 60%;
        right:0;
        top:20%;
    }
    .labels-row-two{
        display: flex;
        flex-direction: column;
    }
    .card-span{
        font-size: 12px;
    }
    .header-anchor {
        display: none;
    }
    .service-icon{
        padding-left: 175px;
    }
}

@media screen and (max-width:375px) {
    .service-icon{
        padding-left: 150px;
    }
}

@media screen and (max-width:320px) {
    .service-icon{
        padding-left: 120px;
    }
}